html, body {

    height: 100%;
    margin: 0px;
}

body {

    color: #ffffff;
    background-color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-shadow: 2px 2px 7px #000000;
}

a {

    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {

    color: #ff0022;
}
